# Cache files and folders
__pycache__
.pytest_cache
*.session
*coverage*


# Ignore telegram token
*migrations*
appsettings.json
config.ini

# Self-added folders
dev-launch


# Virtual enviroment
telebot-env
